[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	l = ! git log --oneline | head -20
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
